# Filtering, Ordering, and Limiting Data with SQL - Lab

## Introduction
In this lab, you will practice writing SQL `SELECT` queries that limit results based on conditions, using `WHERE`, `ORDER BY`, and `LIMIT`.

## Objectives
You will practice the following:

* Order the results of your queries by using `ORDER BY` (`ASC` & `DESC`)
* Limit the number of records returned by a query using `LIMIT`
* Write SQL queries to filter and order results

## The Data

Here's a database full of famous dogs!  The `dogs` table is populated with the following data:

|name      |age    |gender |breed           |temperament|hungry |
|----------|-------|-------|----------------|-----------|-------|
|Snoopy    |3      |M      |beagle          |friendly   |1      |
|McGruff   |10     |M      |bloodhound      |aware      |0      |
|Scooby    |6      |M      |great dane      |hungry     |1      |
|Little Ann|5      |F      |coonhound       |loyal      |0      |
|Pickles   |13     |F      |black lab       |mischievous|1      |
|Clifford  |4      |M      |big red         |smiley     |1      |
|Lassie    |7      |F      |collie          |loving     |1      |
|Snowy     |8      |F      |fox terrier     |adventurous|0      |
|NULL      |4      |M      |golden retriever|playful    |1      |

## Connecting to the Database

In the cell below, import `pandas` and `sqlite3`. Then establish a connection to the database `dogs.db`.

Look at all of the data in the table by selecting all columns from the `dogs` table with `pd.read_sql`.

In [1]:
# Your code here; imports, create a connection, select all
import pandas as pd
import sqlite3
conn = sqlite3.connect ('dogs.db')
pd.read_sql(" SELECT * FROM dogs;" ,conn)

   id        name  age gender             breed  temperament  hungry
0   1      Snoopy    3      M            beagle     friendly       1
1   2     McGruff   10      M        bloodhound        aware       0
2   3      Scooby    6      M        great dane       hungry       1
3   4  Little Ann    5      F         coonhound        loyal       0
4   5     Pickles   13      F         black lab  mischievous       1
5   6    Clifford    4      M           big red       smiley       1
6   7      Lassie    7      F            collie       loving       1
7   8       Snowy    8      F       fox terrier  adventurous       0
8   9        None    4      M  golden retriever      playful       1

## Queries

Display the outputs for each of the following query descriptions.

### Select the name and breed for all female dogs

<details>
    <summary style="cursor: pointer; display: inline"><h4>Click for hint:</h4></summary>
    <p>Use <code>WHERE</code> with the <code>=</code> operator</p>
</details>

In [5]:
import sqlite3

# Connect to your database
conn = sqlite3.connect('dogs.db')
cursor = conn.cursor()

# SQL query
query = "SELECT name, breed FROM dogs WHERE gender = 'F';"

# Execute the query
cursor.execute(query)

# Fetch and print results
female_dogs = cursor.fetchall()
for dog in female_dogs:
    print(dog)

# Close the connection
conn.close()

('Little Ann', 'coonhound')
('Pickles', 'black lab')
('Lassie', 'collie')
('Snowy', 'fox terrier')

### Select the number of dogs that do not have a name

<details>
    <summary style="cursor: pointer; display: inline"><h4>Click for hint:</h4></summary>
    <p>Use <code>COUNT</code> and <code>IS NULL</code></p>
</details>

In [8]:
import sqlite3

# Connect to your database
conn = sqlite3.connect('dogs.db')  # Replace with your actual database file
cursor = conn.cursor()

# SQL query to count dogs without a name
query = "SELECT COUNT(*) FROM dogs WHERE name IS NULL;"

# Execute the query
cursor.execute(query)

# Fetch the result
count = cursor.fetchone()[0]
print(f"Number of dogs without a name: {count}")

# Close the connection
conn.close()

Number of dogs without a name: 1

### Select the names of all dogs that contain the double letters `ff` or `oo`

<details>
    <summary style="cursor: pointer; display: inline"><h4>Click for hint:</h4></summary>
    <p>Use <code>LIKE</code>, <code>%</code>, and <code>OR</code></p>
</details>

In [10]:
import sqlite3

# Connect to your database
conn = sqlite3.connect('dogs.db')  # Replace with your actual database file
cursor = conn.cursor()

# SQL query to select names with double letters 'ff' or 'oo'
query = "SELECT name FROM dogs WHERE name LIKE '%ff%' OR name LIKE '%oo%';"

# Execute the query
cursor.execute(query)

# Fetch the results
names_with_double_letters = cursor.fetchall()

# Print each name
for name in names_with_double_letters:
    print(name[0])  # Printing the name of each dog

# Close the connection
conn.close()

Snoopy
McGruff
Scooby
Clifford

### Select the names of all dogs listed in alphabetical order.  Notice that SQL lists the nameless dog first.

<details>
    <summary style="cursor: pointer; display: inline"><h4>Click for hint:</h4></summary>
    <p>Use <code>ORDER BY</code></p>
</details>

In [12]:
import sqlite3

# Connect to your database
conn = sqlite3.connect('dogs.db')  # Replace with your actual database file
cursor = conn.cursor()

# SQL query to select names in alphabetical order
query = "SELECT name FROM dogs ORDER BY name;"

# Execute the query
cursor.execute(query)

# Fetch the results
sorted_dog_names = cursor.fetchall()

# Print each name
for name in sorted_dog_names:
    print(name[0])  # Printing the name of each dog

# Close the connection
conn.close()

None
Clifford
Lassie
Little Ann
McGruff
Pickles
Scooby
Snoopy
Snowy

### Select the name and breed of only the hungry dogs and list them from youngest to oldest

In [14]:
import sqlite3

# Connect to your database
conn = sqlite3.connect('dogs.db')  # Replace with your actual database file
cursor = conn.cursor()

# SQL query to select name and breed of hungry dogs ordered by age
query = """
SELECT name, breed
FROM dogs
WHERE hungry = 1
ORDER BY age;
"""

# Execute the query
cursor.execute(query)

# Fetch the results
hungry_dogs = cursor.fetchall()

# Print each name and breed
for dog in hungry_dogs:
    print(f"Name: {dog[0]}, Breed: {dog[1]}")  # Print name and breed of each hungry dog

# Close the connection
conn.close()

Name: Snoopy, Breed: beagle
Name: Clifford, Breed: big red
Name: None, Breed: golden retriever
Name: Scooby, Breed: great dane
Name: Lassie, Breed: collie
Name: Pickles, Breed: black lab

### Select the oldest dog's name, age, and temperament

<details>
    <summary style="cursor: pointer; display: inline"><h4>Click for hint:</h4></summary>
    <p>Use <code>ORDER BY</code> with <code>LIMIT</code></p>
</details>

In [15]:
import sqlite3

# Connect to your database
conn = sqlite3.connect('dogs.db')  # Replace with your actual database file
cursor = conn.cursor()

# SQL query to select the oldest dog's name, age, and temperament
query = """
SELECT name, age, temperament
FROM dogs
ORDER BY age DESC
LIMIT 1;
"""

# Execute the query
cursor.execute(query)

# Fetch the result
oldest_dog = cursor.fetchone()

# Print the details of the oldest dog
if oldest_dog:
    print(f"Oldest Dog: Name: {oldest_dog[0]}, Age: {oldest_dog[1]}, Temperament: {oldest_dog[2]}")

# Close the connection
conn.close()

Oldest Dog: Name: Pickles, Age: 13, Temperament: mischievous

### Select the name and age of the three youngest dogs

In [16]:
import sqlite3

# Connect to your database
conn = sqlite3.connect('dogs.db')  # Replace with your actual database file
cursor = conn.cursor()

# SQL query to select the three youngest dogs' name and age
query = """
SELECT name, age
FROM dogs
ORDER BY age
LIMIT 3;
"""

# Execute the query
cursor.execute(query)

# Fetch the results
youngest_dogs = cursor.fetchall()

# Print the details of the three youngest dogs
for dog in youngest_dogs:
    print(f"Name: {dog[0]}, Age: {dog[1]}")  # Print name and age of each dog

# Close the connection
conn.close()

Name: Snoopy, Age: 3
Name: Clifford, Age: 4
Name: None, Age: 4

### Select the name and breed of the dogs who are between five and ten years old, ordered from oldest to youngest

<details>
    <summary style="cursor: pointer; display: inline"><h4>Click for hint:</h4></summary>
    <p>Use <code>WHERE</code> with <code>BETWEEN</code></p>
</details>

In [17]:
import sqlite3

# Connect to your database
conn = sqlite3.connect('dogs.db')  # Replace with your actual database file
cursor = conn.cursor()

# SQL query to select the name and breed of dogs between 5 and 10 years old, ordered from oldest to youngest
query = """
SELECT name, breed
FROM dogs
WHERE age BETWEEN 5 AND 10
ORDER BY age DESC;
"""

# Execute the query
cursor.execute(query)

# Fetch the results
dogs_between_5_and_10 = cursor.fetchall()

# Print the details of the dogs
for dog in dogs_between_5_and_10:
    print(f"Name: {dog[0]}, Breed: {dog[1]}")  # Print name and breed of each dog

# Close the connection
conn.close()

Name: McGruff, Breed: bloodhound
Name: Snowy, Breed: fox terrier
Name: Lassie, Breed: collie
Name: Scooby, Breed: great dane
Name: Little Ann, Breed: coonhound

### Select the name, age, and hungry columns for hungry dogs between the ages of two and seven.  This query should also list these dogs in alphabetical order.

In [18]:
import sqlite3

# Connect to your database
conn = sqlite3.connect('dogs.db')  # Replace with your actual database file
cursor = conn.cursor()

# SQL query to select the name, age, and hungry columns for hungry dogs between ages 2 and 7
query = """
SELECT name, age, hungry
FROM dogs
WHERE hungry = 1 AND age BETWEEN 2 AND 7
ORDER BY name;
"""

# Execute the query
cursor.execute(query)

# Fetch the results
hungry_dogs_ages_2_to_7 = cursor.fetchall()

# Print the details of the hungry dogs
for dog in hungry_dogs_ages_2_to_7:
    print(f"Name: {dog[0]}, Age: {dog[1]}, Hungry: {dog[2]}")  # Print name, age, and hungry status of each dog

# Close the connection
conn.close()

Name: None, Age: 4, Hungry: 1
Name: Clifford, Age: 4, Hungry: 1
Name: Lassie, Age: 7, Hungry: 1
Name: Scooby, Age: 6, Hungry: 1
Name: Snoopy, Age: 3, Hungry: 1

## Close the Database Connection

In [ ]:
# Your code here

## Summary

Great work! In this lab you practiced writing more complex SQL statements to not only query specific information but also define the quantity and order of your results.